$primary-color: #009ed6;
$secondary-color: #ed1a23;
$third-color: #979c88;

.container {
    max-width: 80%;
}

.contact-banner {
    img {
        width: 100%;
    }
}

.form-and-location{
    h1{
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 50px;
        text-align: center;
    }
    form{    
        margin-bottom: 50px;
        label{
            padding-left: 20px;
            margin-top: 30px;
            margin-bottom: 5px;
            color: $primary-color;
            i{
                font-size: 8px;
                color: $primary-color;
                
            }
        }   
        input{
            border-radius: 20px;
            border: 2px solid #eee;
            height: 40px;
            display: inline-block;
            width: 100%;
            background-color: #eee;
        }
        textarea{
            background-color: #eee;
            height: 100px;
            width: 100%;
            border-radius: 40px;
            border: 2px solid #eee;
            resize: none;
        }
        button{
            background-color: $primary-color;
            color: #fff;
            transition: all .3s ease;
            width: 100%;
            height: 40px;
            border-radius: 20px;
            border: none;
            margin-top: 30px;
            &:hover{
                transition: all .3s ease;
                background-color: $secondary-color;
            }
        }
    }
    .map{
        width: 100%;
        height: 100%;
        iframe{
            width: 100%;
            height: 100%;
        }
    }

}

@media only screen and (max-width: 568px) {
    
    .contact-banner img {
        width: 100%;
        min-height: 200px;
    }
}


